.page-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;

  button {
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    font-size: 0.8rem;

    &:disabled {
      color: grey;
      cursor:auto;
    }

    &:hover:enabled {
      background-color: lightgrey;
    }
  }
}
