.recipe-filter {
  padding: 20px 0;

  input {
    font-size: 0.8rem;
    height: 26px;
  }

  .recipe-search {
    width: 100%;
  }

  .Select {
    padding-top: 10px;
  }

  .checkbox-favourites {
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
}
