.recipe-list-item {
  text-align: left;
  padding: 10px 0;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  h3 {
    padding: 3px 0;
  }

  .recipe-list-item-info:hover {
    background: #eee;
  }
}
